# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html
[client]
socket=/mnt/mysql/data/mysql/mysql.sock

[mysqld]
datadir=/mnt/mysql/data/mysql
socket=/mnt/mysql/data/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

character_set_server = utf8

key_buffer=16777216
binlog_order_commits=1
event_scheduler=1
innodb_disable_sort_file_cache=1
innodb_file_format=Barracuda
innodb_file_format_max=Barracuda
innodb_open_files=3000
innodb_spin_wait_delay=30
innodb_sync_spin_loops=100
interactive_timeout=7200
join_buffer_size=442368
back_log=300

server_id=20170519
transaction-isolation=READ-COMMITTED
log-bin=binlog
binlog_format=ROW
lower_case_table_names=1
default-storage-engine=INNODB
max_connections=2050
max_user_connections=2050
max_allowed_packet=10M
sort_buffer_size=1M
query_cache_size=3M

binlog_cache_size=4M
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysql]
socket=/mnt/mysql/data/mysql/mysql.sock

default-character-set = utf8
